<div class="container-fluid" id="content">
    <div class="jumbotron">
        <div class="row">
            <div class="col" id="reportPage">
                <select name="cars" class="custom-select mb-3">
                    <option value="Heures" selected>Heures</option>
                    <option value="Semaines">Semaines</option>
                    <option value="Mois">Mois</option>
                </select>
                <canvas #barCanvas ></canvas>
            </div>
            <div class="col">
                <form id="myForm" (ngSubmit)="getData()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="optradio" [formControl]="optradio" value="out">
                                <label class="form-check-label" for="defaultCheck2">
                                    Roaming OUT
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="optradio" [formControl]="optradio" value="in">
                                <label class="form-check-label" for="defaultCheck1">
                                    Roaming IN
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputState">Pays</label>
                        <select (change)='setOperateur()' [formControl]="pays" class="form-control" required>
                          <option value="" selected>--- Selectionner ---</option>
                          <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Opérateur</label>
                            <select [formControl]="op"  class="form-control" required>
                                <option value="" selected>--- Selectionner ---</option>
                                <option *ngFor="let operateur of operateurs" [value]="operateur">{{operateur}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Operation code</label>
                            <select [formControl]="opcode" class="form-control" required>
                                <option value="" selected>--- Selectionner ---</option>
                                <option value="sai">SAI</option>
                                <option value="lu">LU</option>
                                <option value="bearer">BEARER</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <mat-form-field appearance="outline" style="width: 100%;" floatLabel="never" color="accent">
                                <!-- <mat-form-field appearance="fill" floatLabel="never" color="accent"> (dateChange)="addEvent('change', $event)"-->
                                <mat-label style="color: black;">Entre la range de date</mat-label>
                                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                    <!-- <input formControlName="dataIn" [matDatepicker]="dataIn"  style="color: black;" matStartDate  placeholder="Date début"> -->
                                    <input formControlName="start" style="color: black;" matStartDate  placeholder="Date début">
                                    <input formControlName="end" style="color: black;" matEndDate placeholder="Date fin">
                                </mat-date-range-input>
                                <mat-datepicker-toggle style="color: black;" matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker style="color: black;" #picker></mat-date-range-picker>
                                
                                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                            </mat-form-field>
                            <!-- <mat-form-field color="accent" [ngStyle.xs]="{'width.%': 100}" appearance="fill" d>
                                <mat-label>Sélectionnez la date</mat-label>                   
                                <input formControlName="dataIn" matInput [matDatepicker]="dataIn" />
                                <mat-datepicker-toggle matSuffix [for]="dataIn"></mat-datepicker-toggle>
                                <mat-datepicker #dataIn></mat-datepicker>
                            </mat-form-field> -->
                        </div>
                        
                    </div>
                    
                    <button type="submit" id="send" class="btn btn-primary">Afficher</button>
                </form>
            </div>
            <div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Importation Formulaire</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="was-validated">
                                    <div class="form-group">
                                        <select class="form-control"  id="validationTooltip01" required>
                                            <option value="">---- Selectionner ----</option>
                                            <option value="LU">LU</option>
                                            <option value="BEARER">BEARER</option>
                                            <option value="SAI">SAI</option>
                                            <option value="PDP">PDP</option>
                                        </select>
                                    </div>
                                
                                    <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                                    <label class="custom-file-label" for="validatedCustomFile">Choisir un fichier</label>
                                    </div>
                                    <button class="btn btn-success mt-2" type="submit">Envoyer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" id="download" >
               <span class="glyphicon glyphicon-download-alt"></span>Exporter le graph
            </button>
        </div>    
    </div>
    
</div>