
/* Border */
// .mat-form-field-appearance-outline .mat-form-field-outline
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #c2185b;
}
/* Font color */
input.mat-input-element {
    color: rgb(179, 50, 50);
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: #c2185b;
    }
    .mat-form-field-label {
        color: #c2185b;
    }
    .mat-form-field-underline {
        background-color: #c2185b;
    }
    .mat-form-field-ripple {
        background-color: #c2185b;
    }
    .mat-form-field-required-marker {
        color: #c2185b;
    }
}